<div class="menu-group-top">
    <nav>
        <ul>
            <li class="top-item">
                <md-icon md-list-icon>notifications</md-icon>
            </li>
            <li class="top-item">
                <md-icon md-list-icon>account_circle</md-icon>
            </li>
        </ul>
    </nav>
</div>
<div class="main-class row">
    <div class="col s12 no-pad">
        <div class="menu-group">
            <app-menu-group></app-menu-group>
        </div>
        <div class="main-area">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
<p style="position: absolute; left: 10px; top: 0;">
    main works!
</p>