.menu-group-top {
    height: 55px;
    nav {
        height: 55px;
        margin: 0;
        display: inline-block;
        width: 100%;
        background-color: #3E4957;
        ul {
            float: right;
            display: flex;
            flex-direction: row;
            margin-right: 4%;
            li {
                list-style: none;
                margin: 0 20% 0 20%;
                .top-item {
                    width: 50px;
                }
            }
        }
    }
}

.menu-group {
    position: absolute;
    height: 100%;
}

.main-area {
    margin-left: 60px;
    margin-top: 20px;
}