.menu-group-top {
    height: 55px;
    nav {
        height: 55px;
        margin: 0;
        line-height: 55px;
        display: block;
        width: 100%;
        background-color: #3E4957;
        ul {
            display: block;
            position: relative;
            float: right;
            margin-right: 4%;
            li.top-item {
                list-style: none;
                margin: 0 20% 0 20%;
            }
        }
        .md-menu {
            margin-right: 10px;
        }
    }
}

.menu-group {
    position: absolute;
    height: 100%;
}

.main-area {
    margin-left: 60px;
    margin-top: 20px;
}