/* You can add global styles to this file, and also import other style files */

body {
    margin: 0;
    padding: 0;
}

.no-pad {
    padding: 0 !important;
}

.no-mar-bot {
    margin-bottom: 0 !important;
}